@media only screen and (max-width: 426px)
{
    
    .topbar img{
      
        margin-top: 1rem;
        float: none !important;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .navbar1{
        margin-top: 5rem;
    }
    .nas
    {
        display: block !important;
    }
    .himage
    {
      display: none;
    }
.s{
  font-size: 1rem !important;
}
.bt{
  width: 20rem !important;
}
.search{
  height: 12vh !important;
}
.report
{
  font-size: 26px !important;
}
.raj
{
  font-size: 40px !important;
}
.flex-container {
 flex-direction: column !important;
     align-items: center !important;
  justify-content: center !important;
}
.box1{
  margin-top: 40rem !important;
  height: 110vh !important;
}
.c1{
  margin-left: 0px !important;
}
.a{
  font-size: 40px !important;
}
.box3{
  height: 210vh !important;
}
.d{
  padding-left: 3rem !important;
  font-size: 15px !important;
}
.space{
  display: none;
}
.box4{
  height: 190vh !important;
}
.spacecard{
  height: 10vh !important;
}
.gender{
  height: 110vh !important;
}
.tables{
  display: none;
}
.pl{
  height: 70vh !important;
    width: 250px !important;
}
.s1{
  height: 1350vh !important;
}
.body{
  overflow: hidden !important;
}
}

body{
    overflow-x: hidden;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: #E8E8E8;
    justify-content: center;
  }
  
  .flex-container > div {
    background-color:#E8E8E8;
    width: 100px;
    margin:0px ;
    text-align: center;
    line-height: 75px;
    font-size: 12px;
    font-weight: bold;
  }
  .box1{
    background-color: #FF4D5B;
    height: 40vh;
    margin-top: 10rem;
    margin-bottom: 10rem;
  }
  .box2{
    background-color: #Fff;
    height: 60vh;
    margin-top: 10rem;
    margin-bottom: 10rem;
  }
  .box3{
    background-color: #Fff;
    height: 70vh;
    margin-top: 10rem;
    margin-bottom: 10rem;
  }
  .box4{
    height: 75vh;
    margin-top: 10rem;
    margin-bottom: 10rem;
  }
  .flex-container1 {
    display: flex;
    flex-direction: column;
 
    height: auto;
  }
  
  .box5{
    height: 75vh;
    margin-top: 10rem;
    margin-bottom: 20rem;
  }
  .table{
    background-color: #F5F5F8;
  }
  table{
    border: 1px solid #1C1553;
    margin:80px auto;
  }
  .table h1{
    margin-top: 60px;
 text-align: center;
 font: normal normal bold 56px/43px Playfair Display;
letter-spacing: 0px;
color: #0E0840;
  }
  thead{
    /* border:2px solid black; */
    background: #0E0840 0% 0% no-repeat padding-box;

opacity: 1;
width: 1097px;
height: 111px;
  }
  .wid{
    width: 123px;
  }
  .division{
    text-align: center;
    background-color: #E7ECFF;
    border:1px solid #DAE0F7;
    font: normal normal bold 20px/43px Poppins;
letter-spacing: 0px;
color: #0E0840;
height: 81px;
  }
  th{
    /* border:2px solid black; */
    border: 1px solid #1C1553;
    font: normal normal bold 14px/20px Poppins;
letter-spacing: 0px;
color: #FFFFFF;
padding:10px 46px;
  }
  td{
    /* border: 2px solid black; */
    height: 56px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #F5F5F5;
padding:20px 20px;
  }
  .r-table{
    width: 140px;
  }
